<a href="https://colab.research.google.com/github/poojabhateley/KNN-Algorithm/blob/master/Iris_Univariate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import csv
from collections import defaultdict

iris = defaultdict(list) 

with open('/content/Iris.csv') as f:
    reader = csv.DictReader(f) 
    for row in reader: 
        for (k,v) in row.items():  
            iris[k].append((v))

In [0]:

sep = list() 

for i in iris['SepalLengthCm']:
  sep.append(float(i))

# New Section

In [36]:
#Using pandas to import the dataset

import pandas as pd

data=pd.read_csv("/content/Iris.csv")
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [26]:
sepal=list(data['SepalLengthCm'])
petal=list(data['PetalLengthCm'])
sepal[0:5]

[5.1, 4.9, 4.7, 4.6, 5.0]

In [21]:
#Mean 

from functools import reduce

mean1= round(reduce(lambda x,y:x+y,sepal)/len(sepal),4)
print(f"Mean is {mean1}")

Mean is 5.8433

In [23]:
#variance and Standard Deviation
import math

std_dev= round(math.sqrt(sum(map(lambda x:(x-mean1)**2,sepal))/len(sepal)),4)

var=round(std_dev**2,4)

print(f"Standard deviation is {std_dev} and variance is {var}")

Standard deviation is 0.8253 and variance is 0.6811

In [30]:
#Skewness and Kurtosis

skew=round(sum(map(lambda x:(x-mean1)**3,sepal))/(len(sepal)*(std_dev**3)),4)

kurt=round(sum(map(lambda x:(x-mean1)**4,sepal))/(len(sepal)*(std_dev**4)),4)

print(f"Skewness is {skew} and Kurtosis is {kurt}")

Skewness is 0.3119 and Kurtosis is 2.4265

# New Section

# New Section