<a href="https://colab.research.google.com/github/poojabhateley/KNN-Algorithm/blob/master/KNN_Algorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#KNN Algorithm Steps-
#Assume k=3 hyperparameter
# Find Euclidean Distance for a test point from all other points
#Sort in Ascending Order
#return a list of k nearest neighbours
#Find the first 3 points from the list and their classification

In [0]:
import math
def Euclidean_dist(col,xq,k):
  dict1={}
  for i in col:
     dict1[i]=math.sqrt((i-xq)**2)
  sort_dict=sorted(dict1.items(),key=lambda x:x[1])
  return list(dict(sort_dict[0:3]).keys())

In [0]:
import pandas as pd

data=pd.read_csv('/content/Iris.csv')

In [65]:
#testing Euclidean Function
list1=[1,2,10,4,9,15,7,8,9,11]
xq=6
k=3
Euclidean_dist(list1,xq,k)

[7, 4, 8]

In [80]:
sepal=data['SepalLengthCm']
nearest_sepal=Euclidean_dist(sepal,6,3)
result=[]
for i in nearest_sepal:
  result.append(data[data['SepalLengthCm']==i]['Species'])
print(result)

[62     Iris-versicolor
78     Iris-versicolor
83     Iris-versicolor
85     Iris-versicolor
119     Iris-virginica
138     Iris-virginica
Name: Species, dtype: object, 61     Iris-versicolor
70     Iris-versicolor
149     Iris-virginica
Name: Species, dtype: object, 63     Iris-versicolor
71     Iris-versicolor
73     Iris-versicolor
91     Iris-versicolor
127     Iris-virginica
134     Iris-virginica
Name: Species, dtype: object]