<a href="https://colab.research.google.com/github/poojabhateley/KNN-Algorithm/blob/master/Python_Assignment_Rahul.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Question 1 count number of strings with length>=2, and first and last character are same

l1=["apple","maam","orange","a"]

count=0
for i in l1:
  if len(i)>=2 and i[0]==i[-1]:
    count=count+1
print(f"Number of strings with length greater than or equal to 2 and same first and last character are {count}")

Number of strings with length greater than or equal to 2 and same first and last character are 1

In [6]:
# Question 2 sum of two lists

l1=[1,2,3,4,5]
l2=[2,3,4,5,6]

add1=list(map(lambda x,y:x+y,l1,l2))
print(add1)

[3, 5, 7, 9, 11]

In [10]:
#Question 3 print a dictionary with keys 1 to 15 and values are square of keys

dict1={}

for i in range(1,16):
  dict1[i]=i**2

print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [11]:
#Question 4 print all unique values in a dictionary

d1={'a':1,'b':2,'c':5,'d':2,'e':4,'f':3,'g':5}
s1=set()
for key,val in d1.items():
  s1.add(val)
print(s1)

{1, 2, 3, 4, 5}

In [43]:
#Question 5 get top 3 elements in a shop

item={'item1':100,'item2':200,'item3':300,'item4':500,'item5':800,'item6':50,'item7':900,'item8':1000,'item9':250,'item10':150}
result={}
l=sorted(item,reverse=True)
for i in range(0,3):
   print(l[i])

item9
item8
item7

In [19]:
#Question 6 count number of items in a dictionary value that is a list

d1={'a':[1,2,3,4,5],'b':[2,3],'c':[1,2,3,4,5,6]}

count=list(map(len,d1.values()))
print(count)

[5, 2, 6]

In [23]:
#Question 7 replace dictionary values with average

d1={'a':10,'b':15,'c':30,'d':20}

avg=sum(d1.values())/len(d1)

for key,val in d1.items():
  d1[key]=avg
print(d1)

{'a': 18.75, 'b': 18.75, 'c': 18.75, 'd': 18.75}

In [25]:
#Question8 remove item from tuple

tup1=(10,30,20,100,50)
tup2=tup1[:2]+tup1[3:]
print(tup2)

(10, 30, 100, 50)

In [26]:
#Question 9 find palindromes in a list of strings

l1=['maam','apple','orange','mom','madam']
result=[]
for i in l1:
  if i==i[::-1]:
    result.append(i)
print(result)

['maam', 'mom', 'madam']

In [30]:
#Question 10 filter the negative values from a dictionary

d1={'a':10,'b':-3,'c':15,'d':-10,'e':-15}

d2=dict( (key,val) for key,val in d1.items() if val>0)
print(d2)

{'a': 10, 'c': 15}

In [33]:
#question 11 filter list of strings based on substring list

import re
string=["apple","apple123","orange","mango"]
sub=["app","ora"]

result=[i for i in string if any(j in i for j in sub)]
print(result)

['apple', 'apple123', 'orange']